/* Styles */

@import url('https://fonts.googleapis.com/css?family=Lato:300,400&display=swap');

html, body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}

.red {
  color: rgba(232, 61, 61, .5);
}

a {
  text-decoration: none;
}

embed {
  visibility: hidden;
}

h1,h2,h3,h4,h5,h6, p, a, button {
  font-family: 'Lato', sans-serif;
}

header {
  width: 100vw;
  height: 100vh;
  text-align: center;
  display: table;
  border: 20px solid black;
  box-sizing: border-box;
  position: relative;
}

.hero {
  display: table-cell;
  vertical-align: middle;
  position: relative;
  width: 800px;
}

#toursText {
  width: 300px;
  display: block;
  margin: 0 auto;
  visibility: hidden;
  transform: rotate(-90deg);
  position: absolute;
  top: 200px;
  left: -100px;
}

#Page-1 #Oval {
  stroke-dasharray: 800;
  transition: 1s ease;
  animation: draw 2.5s ease-in forwards;
}

#Page-1 #Triangle {
  stroke-dasharray: 800;
  transition: 1s ease;
  animation: draw 2.5s ease-in forwards;
}

@keyframes draw {
  0%{
     stroke-dashoffset: 800;
  }
  100%{
     stroke-dashoffset: 0;
  }
}


svg {
  animation: pulse 1s infinite;
  animation-delay: 2.5s;
}

@keyframes pulse {
  0%{
    transform: scale(1);
  }
  15%{
    transform: scale(1.1);
  }
  25%{
    transform: scale(1);
  }
  35%{
    transform: scale(1.1);
  }
   45%{
    transform: scale(1);
  }
  50%{
    transform: scale(1);
  }
  75%{
    transform: scale(1);
  }
  100%{
    transform: scale(1);
  }
}

.fadeIn {
  animation-delay: 3s;
  animation: fadeIn 6s ease forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    visibility: visible;
    opacity: 1;
  }
}

.headerFooter {
  padding: 25px 0;
  width : 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  text-align: center;
  font-size: 14px;
  font-weight: 300;
  visibility: hidden;
}

.headerFooter a{
  margin-left: 10px;
  font-size: 15px;
  color: #282828;
  font-weight: 400;
}
.headerFooter a:hover {
  opacity: .7;
}

input {
  padding:5px;
  box-sizing: border-box;
}
button {
  padding: 5px;
  width: 100px;
  border: 2px solid #282828;
  border-radius: 0;
  transition: .2s ease;
}

button:hover {
  cursor: pointer;
  background: #282828;
  color: white;
}


@media (max-width:500px) {
  embed {
    display: none;
  }
}
